:root {
    color-scheme: light dark;
}

body {
    font-family: 'Afacad Flux', sans-serif;
}

/* botones header */
header nav a:hover {
    color: #008cff;
}

header nav a:active {
    color: #004f90;
}

#start a {
    background-color: #0080e9;
    padding: 8px;
    border-radius: 1rem;
}